.Toolbar {
    height: 65px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color:white;
    display: flex;
    align-items: center;
    flex-direction: row;
    align-items: center;
    padding: 0,20px;
    box-sizing: border-box;
    z-index: 100;
    border-bottom: gray 1px solid;
}

.LogoHamArea{
    flex: 25%;
    padding-left: 2%;
}

.SearchBoxArea {
    flex: 45%;
}

.LogoNavItemArea {
    flex: 30%;
    display: flex;
    justify-content: flex-end;
    padding-right: 2%;
}

.Ham {
    height: 3px;
    width: 30px;
    margin: 6px 0;
    background-color: black;
      
}

.HamBox{
    padding: 20%;
}


.Logo img{
    height: 50px;
    width: 50px;
}

@media (max-width: 800px) {
    .LogoHamArea{
        flex: 20%;
    }
    .SearchBoxArea{
        flex: 41%;
    }
    .LogoNavItemArea{
        flex: 39%;
    }
    
}

@media (max-width: 599px){
    .LogoHamArea{
        flex: 20%;
    }
    .SearchBoxArea{
        flex: 60%;
    }
    .LogoNavItemArea{
        flex: 20%;
    }
}

@media (min-width: 600px){
    .MobileOnly{
        display: none;
    }
}

@media (max-width: 599px){
    .DesktopOnly{
        display: none;
    }
} 
