.TopNav {
  height: 60px;
  padding-inline: 3%;
  padding-top: 1.6%;
  padding-bottom: 0.5%;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.DotContainer {
  width: fit-content;
  flex: 33.333%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.TopNavDots {
  top: 50%;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: black;
  display: inline-block;
  margin-inline: 2%;
}

.DotActive {
  background-color:  #3BA6FF;
}

.BackButtonContainer {
  flex: 33.333%;
}

.BackButton {
  float: left;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 30px;
}

.ContinueButtonContainer {
  flex: 33.333%;
}

.ContinueButton {
  background-color: #1d94dd;
  border: none;
  float: right;
  font-size: 100%;
  height: 100%;
  padding-inline: 10%;
  padding-top:2.3%;
  padding-bottom: 3%;
  box-shadow: 1.5px 1.5px 1.5px 1.5px black;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.ContinueButton:hover {
  box-shadow: 2px 2px 2px 2px black;
  background-color: #32a8f1;
} 

.ContinueButton:active {
  box-shadow: 0px 0px 0px 0px black;
  background-color: #1885c9;
} 

.ContinueButtonDisabled{
  background-color: gray;
  border: none;
  float: right;
  font-size: 100%;
  height: 100%;
  outline: none;
  padding-inline: 10%;
  padding-top:2.3%;
  padding-bottom: 3%;
  box-shadow: none;
  border-radius: 5px;
  pointer-events: none;
}

.ButtonText {
  padding: 0;
  margin: 0;
  color: white;
  font-family: monospace;
  font-weight: bold;
}

.BackButtonDisabled {
  pointer-events: none;
  float: left;
  margin-top: 10px;
  border: none;
  outline: none;
  font-size: 30px;
} 

.Seperator {
  height: 1px;
  background-color: black;
  width: 100%;
  margin-top: 1%;
  margin-bottom:1%;
}