.Header {
  padding-inline: 5%;
  text-align: center;
}

.Header p {
  padding: 0px;
  margin: 0px;
  font-size: 25px;
  font-weight: bold;
}

.CardGroup {
  padding-left: 7%;
  padding-right: 6%;
  padding-top: 4%;
  padding-bottom: 10%;
}

.Postman {
  width: 80%;
  text-align: center;
}

.Row {
  margin: 0 -5px;
}

.Column {
  float: left;
  width: 25%;
  padding: 10px 10px;
}

.Card {
  background-color: #f1f1f180;
  text-align: center;
  box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-inline: 2px;
  border-bottom: 2px solid purple;
}

.Card p {
    font-weight: bold;
    font-size: 1rem;
}

.FollowButton{
    border: none;
    width: 70%;
    cursor: pointer;
    outline: none;
    padding: 8%;
    font-family: monospace;
    font-weight: bold;
    border-radius: 3px;
    background-color: #F2F0F1;
    color: #6E6CDE;
    box-shadow: 1px 1px 1px 1px gray;

}

.FollowButton:hover {
    box-shadow: 1.5px 1.5px 1.5px 1.5px gray;
}

.FollowButton:active {
    color: #78E2B6;
}

.UnfollowButton{
    border: none;
    width: 70%;
    cursor: pointer;
    outline: none;
    padding: 8%;
    font-family: monospace;
    font-weight: bold;
    border-radius: 3px;
    background-color: #F2F0F1;
    color: #78E2B6;
    box-shadow: inset  0px 0px 3px gray;
}


/* Responsive columns */
@media screen and (max-width: 600px) {
  .Column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
