/* TOTAL AREA IS 100% WE HAVE 4 THINGS {LEFT SIDE BAR, MIDDLE CONTENT, RIGHT SIDE BAR, DIV CONTAINER} SO WE HAVE TO DISTRIBUTE THE WIDTH CALCULATIVELY */
.Content {
  min-height: 100vh;
  width: 100%;
  /* this padding is important do not convert it to margin */
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: #edf0f1;
}

.Row {
  display: flex;
}

.Column1 {
  flex: 20%;
}

.SideLeftBar {
  position: fixed;
  height: 100%;
  width: 20%;
}

.Column2 {
  flex: 55%;
}

.MiddleArea {
  width: 100%;
  padding-top: 2%;
  padding-left: 4%;
  padding-right: 3%;
}

.Column3 {
  flex: 25%;
}

.Column2V2 {
  flex: 80%;
}

.Column3V2 {
  display: none;
}

.SideRightBar {
  position: fixed;
  height: 100%;
  width: 30%;
}

@media (max-width: 1200px) {
  .Column2 {
    flex: 56%;
  }
  .Column3 {
    flex: 24%;
  }
}

@media (max-width: 1112px) {
  .Column1 {
    flex: 25%;
  }

  .Column2 {
    flex: 72%;
  }
  .Column3 {
    flex: 3%;
  }
  .MiddleArea {
    padding-left: 0%;
    padding-right: 1%;
  }
}

@media (max-width: 1000px){
  .Column2 {
    flex: 72%;
  }
  .Column3 {
    flex: 3%;
  }
  .MiddleArea {
    padding-left: 0%;
    padding-right: 1%;
  }
}

@media (max-width: 800px) {
  .Column1 {
    flex: 20%;
  }

  .Column2 {
    flex: 77%;
  }
  .Column3 {
    flex: 3%;
  }
  .MiddleArea {
    padding-left: 0%;
    padding-right: 0%;
  }
}

@media (max-width: 540px) {
  .Column1 {
    flex: 0;
    display: none;
  }

  .Column2 {
    flex: 95%;
  }
  .Column3 {
    flex: 5%;
  }
  .MiddleArea {
    padding-left: 5%;
    padding-right: 0%;
  }
}
