.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
}

.SignupButton {
    height: 40px;
}

.LoginButton {
    height: 40px;
}

.ProfileButton {
    margin-right: 20px;
}

@media (min-width: 500px) {
    .NavigationItems {
        flex-flow: row;
    }
}