.HomeHeader {
    display: flex;
    width: 60%;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 3%;
    padding-bottom: 1.5%;
    flex-direction: row;
    justify-content: space-between;
    float: right;
}
.HomeHeaderButton {
    border: none;
    cursor: pointer;
    font-size: medium;
    border-radius: 5px;
    outline: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-inline: 10px;
}

.HomeHeaderButton a {
    color: rgb(44, 42, 42);
}

.HomeHeaderButton:hover{
    background-color:rgba(29,148,221,0.1);
    color: #1d94dd;
}

.active {
    border-bottom: 2px solid #1d94dd;
}
