.QuestionsCard {
  width: 100%;
  background-color: #ffff;
  min-height: 100px;
  border-radius: 5px;
  box-shadow: 0px 0px 1.3px 0px gray;
  display: flex;
  margin-bottom: 2%;
}

.QuestionAnswerSection {
  flex: 78%;
}

.QuestionTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.QuestionTitle p {
  padding-bottom: 2%;
  padding-right: 2%;
  font-size: 20px;
  font-weight: bold;
  color: rgba(20, 19, 19, 0.877);
}

.VotesSection {
  flex: 10%;
}

.VoteCount {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: monospace;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.76);
}

.AnswerSection {
  flex: 12%;
  display: flex;
  text-align: center;
  background-color: whitesmoke;
  justify-content: center;
  align-items: center;
  padding-bottom: 1%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.712);
}